/**
 * ****************************************************************************
 * CSS SITEMAP
 * ****************************************************************************
 * 01. NORMALIZE
 * 02. TYPOGRAPHY
 */

 /**
 * ============================================================================
 * 01. NORMALIZE
 * ============================================================================
 */

 html {
	font-family: 'Lato', sans-serif !important;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: 'Assistant', sans-serif;
}

.text-webkitcenter {
    text-align: -webkit-center !important;
}
.alert-success {
    color: red !important;
  /*   background-color: #ff0000; */
     border-color: #c3e6cb !important; 
}
.dropdown-item a {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529 !important;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	text-decoration:none;
	outline: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 17px !important;
	color: #333333;
	background-color: #eee !important;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #23527c;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }


 /**
 * ============================================================================
 * 02. TYPOGRAPHY
 * ============================================================================
 */


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 small,
h1 .small,
h2 small,
h2 .small,
h3 small,
h3 .small,
h4 small,
h4 .small,
h5 small,
h5 .small,
h6 small,
h6 .small,
.h1 small,
.h1 .small,
.h2 small,
.h2 .small,
.h3 small,
.h3 .small,
.h4 small,
.h4 .small,
.h5 small,
.h5 .small,
.h6 small,
.h6 .small {
	font-weight: normal;
	line-height: 1;
	color: #777777;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1 small,
h1 .small,
.h1 small,
.h1 .small,
h2 small,
h2 .small,
.h2 small,
.h2 .small,
h3 small,
h3 .small,
.h3 small,
.h3 .small {
	font-size: 65%;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 small,
h4 .small,
.h4 small,
.h4 .small,
h5 small,
h5 .small,
.h5 small,
.h5 .small,
h6 small,
h6 .small,
.h6 small,
.h6 .small {
	font-size: 75%;
}

h1,
.h1 {
	font-size: 36px;
}

h2,
.h2 {
	font-size: 30px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 18px;
}

h5,
.h5 {
	font-size: 14px;
}

h6,
.h6 {
	font-size: 12px;
}

p {
	margin: 0 0 10px;
}

 /**
 * ============================================================================
 * 03. PAGE 404
 * ============================================================================
 */

 .error404{
	 text-align: center;

 }
.text404 {
	font-size: 200px;
	font-weight: 600;
	color: #424242;
}
.sosorry{

	font-family:  inherit;
	font-size: 30px

}
.sorry{
	font-size: 30px;
	color: #fe7900;
}


.coln-footer {
	font-size: 13px;
	color: #424242;
	font-weight: 300;
	text-align: center;
	margin-top: 5%;
}

 /**
 * ============================================================================
 * 04. HEADER
 * ============================================================================
 */


.header{
		padding: 15px 0px;
}

.minicon{
	margin-top: 10px;
}
.pdf{
	text-align: center;
}
.mainpage h1{
	padding-top: 10px;
	padding-left: 18px;
}
.title{
	text-align:center;
}
.submit1{
	margin-bottom: 1%;
	text-align: right;
	margin-right: 10px;
}
.tmpltslct{
	margin-top: 10px !important;
}
.tmpltslct h2{
	padding: 17px;
}
#modal-title{
	margin-top: 20px;
}
#simple-modal-description{
	margin-top: 10px;
}
.submit-pop{
	text-align: center;
	margin-top: 20px;
}
.banner{
	margin-bottom: 20px;
}
.homecard{
	border:none !important;
}
.daterange{
	color: #4141d8;
	font-size: 76px;
	padding: 10px
}
.dateicon{
	border-right: 1px solid #68656596;
}
.deadline{
	padding: 17px;
	color: #5b5656;
}
@media (min-width: 320px) and (max-width: 480px) {

	.welcome{
		font-size: 26px !important;
	}
}
